*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 250px;
    min-height: 100vh;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.modal.open{
    opacity: 1;
    pointer-events: auto;
}

.full-image{
    max-width: 85%;
    max-height: 85%;
    object-fit: contain;
}